nav {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul li {
  flex: 1 auto;
  border: 1px solid var(--highlight);
  border-radius: 8px;
  width: 100%;
  font-family: var(--font-headings);
  font-size: calc(14px + 0.5vw);
  font-weight: bold;
  padding: 1vw;
  margin: 0 1vw;
  text-align: center;
}

nav ul li a {
  color: #bfd1e5;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

nav ul li.selected {
  background-color: #bfd1e5;
}

nav ul li.selected a {
  color: #445876;
}

/* modify the layout for ipad-sized screens */
@media screen and (min-width: 768px) {
  nav {
    flex: 2 100%;
    justify-content: flex-end;
  }

  nav ul {
    flex-basis: 70%;
    margin-bottom: 5px;
  }
  
  nav ul li {
    border: none;
    flex: 1 100%;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }
}

/* modify the layout for laptop/desktop screens */
@media screen and (min-width: 1000px) {
  nav {
    flex: 2 50%;
    align-content: flex-end;
    width: 100%
  }

  nav ul {
    flex-basis: 100%;
    margin: 0;
  }
}