:root {
  --independence: #445876ff;
  --platinum: #ebebebff;
  --platinum-op: rgba(235, 235, 235, 0.95);
  --ash-gray: #cad2c5ff;
  --forest-green-traditional: #0A3200;

  --bgcolor-dark: var(--independence);
  --text-color-light: var(--platinum);
  --bgcolor-light: var(--platinum);
  --bgcolor-light-op: var(--platinum-op);
  --highlight: var(--ash-gray);
  --text-color-dark: var(--forest-green-traditional);
  --font-headings: 'Averia Serif Libre', Didot;
  --font-normal: 'Cairo', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-normal);
  background-color: var(--bgcolor-dark);
  color: var(--text-color-dark);
  max-width: 1200px;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  align-items: center;
  background-color: var(--bgcolor-dark);
  color: var(--text-color-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
}

header h1 {
  flex-basis: 100%;
  padding: 1.5rem;
  text-align: center;
  font-family: var(--font-headings);
  font-size: 40px;
}

nav {
  display: flex;
  flex-basis: 100%;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul li {
  flex: 1 auto;
  border: 1px solid var(--highlight);
  border-radius: 8px;
  width: 100%;
  font-family: var(--font-headings);
  font-size: calc(14px + 0.5vw);
  font-weight: bold;
  padding: 1vw;
  margin: 0 1vw;
  text-align: center;
}

nav ul li a {
  color: #bfd1e5;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

nav ul li.selected {
  background-color: #bfd1e5;
}

nav ul li.selected a {
  color: #445876;
}

main {
  background-image: url('./images/truckee-rocks.jpeg');
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}

.about-me img {
  border: 1px solid var(--bgcolor-dark);
  border-radius: 16px;
  flex: 1 40%;
  margin: 0.5rem 1rem 1rem;
  max-width: 200px;
}

section {
  background-color: var(--bgcolor-light-op);
  border: 1px solid var(--bgcolor-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  padding: 20px;
}

.section-heading {
  border-bottom: 1px solid var(--bgcolor-dark);
  flex-basis: 20%;
  font-family: var(--font-headings);
  justify-content: space-around;
  padding: 1rem 1rem 0 0;
  text-align: center;
}

.section-heading h2 {
  font-size: 36px;
}

section p {
  list-style: none;
  padding: 1rem;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-around;
  padding: 1rem 0;
}

/* default layout for project screenshots */
.project {
  align-items: flex-end;
  background: #eee;
  border: 1px solid var(--bgcolor-dark);
  border-radius: 8px;
  display: flex column;
  flex: 1 40%;
  justify-content: stretch;
  margin: 0.5rem 0.5vw;
  min-width: 300px;
  max-width: 350px;
  overflow: hidden;
  text-decoration: none;
}

.project .screenshot {
  background-size: cover;
  height: 300px;
  position: relative;
}

.expand-modal {
  display: none;
}

.project .screenshot:hover > .expand-modal {
  background-color: rgba(255, 255, 255, 0.7);;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.expand-modal > .expand-button {
  /* background-color: rgba(0, 0, 0, 1);; */
  border-radius: 8px;
  color: rgba(83, 81, 81, 0.8);
  cursor: pointer;
  font-weight: bold;
  left: 50%;
  padding: 0.2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* make first project larger than the rest */
.project1 .screenshot { background-image: url('./images/projects/techdirt-mobile.png'); }
.project2 .screenshot { background-image: url('./images/projects/cool-california-mobile.png'); }
.project3 .screenshot { background-image: url('./images/projects/should-i-go-mobile.png'); }
.project4 .screenshot { background-image: url('./images/projects/budget-tracker-mobile.png'); }
.project5 .screenshot { background-image: url('./images/projects/work-day-scheduler.jpg'); }
.project6 .screenshot { background-image: url('./images/projects/note-taker-mobile.png'); }

.project1.lg { background-image: url('./images/projects/techdirt-desktop.png'); }
.project2.lg { background-image: url('./images/projects/cool-california-desktop.png'); }
.project3.lg { background-image: url('./images/projects/should-i-go-desktop.png'); }
.project4.lg { background-image: url('./images/projects/budget-tracker-desktop.png'); }
.project5.lg { background-image: url('./images/projects/work-day-scheduler-padded.png'); }
.project6.lg { background-image: url('./images/projects/note-taker-desktop.png'); }

.links {
  font-weight: bold;
  padding: 1rem 4rem;
  text-align: center;
}

.links a {
  color: var(--text-color-dark);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.project-label {
  border: 1px solid var(--text-color-dark);
  background: var(--bgcolor-dark);
  color: var(--text-color-light);
  opacity: 0.98;
  border-radius: 0 0 8px 8px;
  padding: 5px 10px;
  width: 100%;
}

.project-label a {
  color: var(--text-color-light);
  text-decoration: none;
}

.project-label h3 {
  flex: 1 60%;
  font-size: 150%;
  line-height: 1.5;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}

.project-label p {
  flex: 2 40%;
  font-size: 80%;
  font-weight: bold;
  line-height: 1.2;
  padding: 0.1rem;
  text-align: right;
  text-decoration: none;
}

.project-links {
  float: right;
}

.project-links i {
  margin-left: 0.5rem;
}

.project-spotlight {
  background-color: var(--bgcolor-dark);
  border: 1px solid var(--text-color-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 90%;
  left: 50%;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 999;
}

.project-spotlight .screenshot {
  background-size: cover;
  border: 1px solid var(--bgcolor-dark);
  border-radius: 8px;
  clear: both;
  display: block;
  height: 300px;
  margin: 1rem auto;
  max-width: 100%;
}

.project-spotlight > .project-info {
  background-color: #ffffff;
  border: 1px solid var(--bgcolor-dark);
  border-radius: 8px;
  color: var(--text-color-dark);
  padding: 0.5rem calc(0.5rem + 1vw);
  overflow-y: scroll;
}

.close-modal {
  background-color: var(--bgcolor-dark);
  border-radius: 0 0 0 8px;
  color: var(--highlight);
  padding: 0 0 0.5rem 0.75rem;
  position: absolute;
  right: 0.8rem;
  text-align: right;
}

.form-wrap {
  text-align: center;
  width: 100%;
}

ul.links {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  padding: 5px;
}

#contact-form {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
  width: 80%;
}

#contact-form input, #contact-form textarea, #contact-form button {
  background-color: #fff;
  border: 1px solid var(--bgcolor-dark);
  border-radius: 4px;
  padding: 0.4rem;
  width: 100%;
}

#contact-form button {
  background-color: royalblue;
  color: #fff;
  font-size: 120%;
}

.skills-list {
  flex-basis: 100%;
  margin: 1rem;
}

.skills-list ul {
  margin: 1rem 2rem;
}

.resume-wrap {
  border: 1px solid var(--bgcolor-dark);
  border-radius: 8px;
  display: block;
  height: 200px;
  margin: 0.5rem;
  overflow-y: scroll;
  padding: 0.5rem;
  width: 90%;
}

.resume-wrap img {
  width: 100%;
}

footer {
  display: block;
  min-height: 40px;  /* until we get some content in there */
  background-color: var(--bgcolor-dark);
  /* border-radius: 0 0 20px 20px; */
  padding: 10px 20px;
}

footer p {
  color: var(--bgcolor-light);
  font-family: var(--font-headings);
  font-style: italic;
  padding: 0.5rem;
  text-align: center;
}

footer a i {
  color: #bfd1e5;
  padding: 0.5rem;
  text-decoration: none;
  vertical-align: middle;
}

footer a:hover i {
  font-size: 2.5rem;
  padding: 0.25rem;
}

/* modify the layout for ipad-sized screens */
@media screen and (min-width: 768px) {
  body {
    margin: 0 auto;
  }

  header h1 {
    flex: 1 40%;
    text-align: left;
    padding-left: 40px;
  }
  
  nav {
    flex: 2 100%;
    justify-content: flex-end;
  }

  nav ul {
    flex-basis: 70%;
    margin-bottom: 5px;
  }
  
  nav ul li {
    border: none;
    flex: 1 100%;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 2rem;
  }

  .about-me img {
    float: right;
  }

  section {
    flex-direction: row;
    align-items: stretch;
  }

  .section-heading {
    border-bottom: none;
    border-right: 1px solid var(--bgcolor-dark);
    flex-basis: 20%;
    padding-top: 5rem;
    text-align: right;
    width: 170px;
  }

  .section-heading h2 {
    font-size: calc(22px + 1vw);
  }

  .project {
    margin: 1rem 2vw;
  }

  .project-spotlight {
    height: auto;
    padding: 1rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 999;
  }

  ul.links {
    flex-basis: 70%;
    flex-direction: row;
  }

  #skills.section-content {
    flex-basis: 100%;
  }

  .skills-list {
    flex-basis: 40%;
  }

  .resume-wrap {
    height: 500px;
  }
}

/* modify the layout for laptop/desktop screens */
@media screen and (min-width: 1000px) {
  header {
    align-items: flex-end;
  }

  header h1 {
    flex: 1 40%;
    text-align: center;
    align-self: flex-start;
    padding-left: 10px;
  }

  nav {
    flex: 2 50%;
    align-content: flex-end;
    width: 100%
  }

  nav ul {
    flex-basis: 100%;
    margin: 0;
  }

  section h2 {
    font-size: 38px;
  }

  #contact-info ul li {
    border-bottom: 1px solid var(--text-color-dark);
    flex-basis: auto;
  }
}

.fas {
  text-decoration: none;
}